& {
	grid-area players

	padding 4rem
}

.speaking-allowed {
	margin-bottom 2rem
	padding 2rem 4rem

	border-radius .25rem

	&.--true {
		background green
		color #000
	}

	&.--false {
		background red
		color #000
	}
}
