& {
	grid-area players

	padding 4rem
}

.meta {
	marginBottomIfNotLast()

	.speaking-allowed,
	.you-are,
	.mayor {
		card()
		marginBottomIfNotLast()
	}

	.speaking-allowed {
		&.--true {
			background green
			color #000
		}

		&.--false {
			background red
			color #000
		}
	}
}

.players {
	border-top 1px solid #999

	.player {
		card()
		marginBottomIfNotLast()

		&.--dead {
			opacity .7
		}

		display flex
		justify-content space-between
		margin-top 2rem

		.name {
			font-weight bold
		}
	}
}
