& {
	grid-area players

	padding 4rem
}

.speaking-allowed {
	&.--true {
		background green
		color #000
	}

	&.--false {
		background red
		color #000
	}
}

.speaking-allowed,
.you-are,
.mayor,
.player {
	card()
	marginBottomIfNotLast()
}

.players {
	border-top 1px solid #999
}

.player {
	&.--dead {
		opacity .7
	}

	display flex
	justify-content space-between
	margin-top 2rem

	.name {
		font-weight bold
	}
}
