.gg-wp {
	.players {
		display flex
		flex-wrap wrap
		align-items center
		justify-content center

		&.--winners {
			.player {
				background green
				color #fff
			}
		}

		&.--losers {
			.player {
				background red
				color #000
			}
		}

		.player {
			card()
			margin 1rem

			.name {
				font-weight bold
			}
		}
	}
}
