flsize($size, $multiplier = 1.5) {
	font-size $size
	line-height $size * $multiplier
}

card() {
	border-radius .25rem
	background #333
	padding 1.5rem 3rem
	box-shadow $box-shadow
}

marginBottomIfNotLast() {
	&:not(:last-child) {
		margin-bottom 2rem
	}
}
